[submodule "library/vertebrae"]
	path = library/vertebrae
	url = git@github.com:Evisions/vertebrae.git
[submodule "library/jquery"]
	path = library/jquery
	url = git@github.com:jquery/jquery.git
[submodule "library/backbone"]
	path = library/backbone
	url = git@github.com:jashkenas/backbone.git
[submodule "library/underscore"]
	path = library/underscore
	url = git@github.com:jashkenas/underscore.git
[submodule "library/handlebars"]
	path = library/handlebars
	url = git@github.com:wycats/handlebars.js.git
[submodule "library/requirejs"]
	path = library/requirejs
	url = https://github.com/jrburke/requirejs
