<div class="closeWelcome closeWidget">&times;</div>
<div class="copy">The system is designed to be used for all of your interactions with the IRB. Here you can create new applications, modify or update approved studies and view the status of pending submissions. Your applications will be customized to fit the circumstances of your research, depending on your responses as you proceed. The questions are designed to be answered in a sequential order. Once you have provided the necessary information, your submission will be electronically certified by the principle investigator, routed for department level approvals (when indicated) and then received by the IRB.
</div>
