<div class="widgetHeader">
  <div class="titleBar {{#if hasSettings}}hasSettings{{/if}}">
    <div class="extraButtons"></div>
    <div class="widgetName">{{name}}</div>
  </div>
  {{#if hasSettings}}
    <div class="widgetSettings">
      <span class="glyphicon glyphicon-cog settingsIcon"></span>
    </div>
  {{/if}}
</div>
<div class="widgetBody"></div>