<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1>Login</h1>
      <div class="loginError inputError alert alert-danger"></div>
      <div class="well">
        <!-- Email Input Field -->
        <div class="form-group">
          <label>Email</label>
          <div class="emailError inputError alert alert-danger"></div>
          <input type="email" class="form-control emailInput" placeholder="Enter Email">
        </div>
        <!-- Passowrd Input Field -->
        <div class="form-group">
          <label>Password</label>
          <div class="passwordError inputError alert alert-danger"></div>
          <input type="password" class="form-control passwordInput" placeholder="Enter Password">
        </div>
        <!-- Login Button -->
        <a class="btn btn-primary pull-right">Login</a>
        <div class="loadingSpinnerSmall pull-left"></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>